[2011-07-20 15:30] bmeck opened #1 "Breaking pipes"
Related:
https://github.com/joyent/node/issues/1331

Right now the domain socket checking in port finder is sometimes (seems close to always?) clobbering open domain sockets and causing broken pipes on connections that were listening to the existing socket.

[2012-03-15 21:41] ehartford opened #3 "Return with a range of free ports"
I want to spin up two servers.  So I run two getPorts.  However, the servers step on each other.

[code]

outputs:
"Port1 = 8000, Port2 = 8000"

[2014-12-17 08:18] helloyou2012 opened #9 "When running 'php -S 127.0.0.1:8080', portfinder will get 8080 not 8081."

[2014-12-17 17:24] #9 closed, assigned to nobody

[2015-02-06 03:41] charlierudolph commented on #3
@indexzero can you release a new version now that #11 is in? I can add some documentation if needed.

[2015-02-06 04:28] indexzero commented on #3
This is released in `0.4.0`

[2015-02-06 04:28] #3 closed

[2015-02-06 04:29] indexzero commented on #1
This should be long fixed since joyent/node#1331 was closed.

[2015-02-06 04:29] #1 closed

[2015-03-19 20:10] lmorchard opened #13 "portfinder yields a port that is already in use"
So, this issue might be related to #9. I'm seeing this on Mac OS X:
[code]
In other words, I have port 8000 forwarded to an Android device via `adb` and there's a service running that responds to curl. But, portfinder does not detect it, and it offers 8000 as a free port.

This doesn't seem limited to `adb`. Per #9, I tried running a PHP dev server and got similar results:
[code]
(switch to anothe

[2015-03-19 20:13] lmorchard commented on #13
Oh, ah hah! I figured out the difference:
[code]
Looks like `adb` and `php` occupy ports on `127.0.0.1:8000`, while the Python SimpleHTTPServer occupies `0.0.0.0:8000` - and portfinder is only looking at the `0.0.0.0` host by default.

So, I guess for the purposes of this issue... Should portfinder maybe check 127.0.0.1 instead? Or in addition to 0.0.0.0? Or should this really just be a documented

[2015-10-11 10:02] galambalazs opened #15 "no error when checking for ws.Server"
Creating a WebSocket server on a port and portfinder will still return it as available.

https://github.com/websockets/ws

     var ws = require('ws');
     var server = new ws.Server({
        port: port
     });

[2015-11-09 18:24] justinfagnani opened #17 "Provide a Promise-based API"
This would make portfinder compose with other Promise APIs as well as work nicely with async/await.

[2015-11-14 05:07] hbetts commented on #13
@lmorchard this same issue was actually brought up in #9

It's a _feature_ that should really be documented in the `README`.

[2015-11-14 05:09] hbetts commented on #17
I second the request :+1:

[2015-11-14 05:10] hbetts commented on #15
@galambalazs is this issue possibly the same as #9 and #13 ?

[2015-11-15 21:12] indexzero commented on #17
No. Feel free to wrap this in another library for promises.

[2015-11-15 21:12] #17 closed

[2015-11-15 21:13] indexzero commented on #17
Also: happy to link to your wrapped in `README.md` if you write it. Just open a PR for the doc change :+1:

[2016-01-08 19:07] gnestor commented on #13
Explicitly setting host fixed the issue for me 👍

[2016-01-19 22:21] stefanpenner commented on #13
I've seen similar issues, in each case it boied down to the following:

1. IPv4 socket being taken
2. IPv6 socket being open
3. portfinder defaults to `undefined` host, which typically falls back to ipv6, thereby only checking IPv6.
4. if one wants to support both IPv4 and IPv6 stacks (a reasonable default) portfinder should scan both

[2016-01-23 01:08] eriktrom commented on #13
I made a go at this ^^ (last force push, whoops)

let me know thoughts - don't mind cleaning up for style, etc

this would unblock https://github.com/ember-cli/ember-cli/issues/5352

feedback much appreciated

[2016-01-23 03:02] stefanpenner commented on #13
@eriktrom link?

[2016-02-03 06:50] #13 closed

[2016-02-03 14:47] felicienfrancois opened #21 "v1.0.0 portfinder no longer works"
Since v1.0.0, On windows 10 + nodejs 5.5,
portfinder give me ports that are in use by nodejs http server

[2016-02-03 21:57] indexzero commented on #21
@felicienfrancois pull-request welcome. In the meantime you can safely rely on `0.4.0`.

[2016-02-03 21:58] indexzero commented on #21
@eriktrom @stefanpenner looks like this is an unintended side effect of the changes in #20. If you have any cycles to help out it would be greatly appreciated.

[2016-02-03 22:51] eriktrom commented on #21
i'll take a look tonight

@felicienfrancois - any more info you have is greatly appreciated. i dont have much windows usage experience. any steps i can take to repro? is your project open source? thanks

[2016-02-03 23:09] indexzero commented on #21
@eriktrom a great place to start might be to setup Appveyor on a fork. I'm also happy to make you a Github owner if you want to set it up on this repo directly.

[2016-02-04 01:30] stefanpenner commented on #21
I'll take a look at that PR and see if anything jumps out

[2016-02-04 01:41] eriktrom commented on #21
@stefanpenner - just started debugging this - looks like the first two test pass then we get `Error: listen EACCES`  - https://github.com/eriktrom/node-portfinder/pull/1

[2016-02-09 14:22] kevgo opened #24 "Does not work if the given base port is already taken"
The test script below allocates port 3000, then calls portfinder with basePort set to 3000.
With the old version 0.4.0 it works correctly, i.e. prints "1 2 3".
With portfinder 1.0.0., it does not output "3", i.e. it never calls the callback given to `getPort`.

[code]

My setup:
* OS X 10.11.3
* Node v5.3.0

[2016-02-10 09:09] indexzero commented on #21
I believe this was fixed in #23. Was published in `portfinder@1.0.1`

[2016-02-10 09:09] #21 closed

[2016-02-11 20:27] winfinit commented on #24
i've encountered similar issue, with this pull request https://github.com/indexzero/node-portfinder/pull/25 above is printing "3"

[2016-02-11 20:31] indexzero commented on #24
@kevgo does this work on `portfinder@0.4.0`?

[2016-02-11 20:53] kevgo commented on #24
Yes, it works in 0.4.0. This issue is new in 1.0.0.

[2016-02-11 21:04] winfinit commented on #24
@indexzero it would work, because of introduction of ::1, 0.0.0.0 and 127.0.0.1 test, basically previous bug was that if you start something on 0.0.0.0, and then test against 127.0.0.1, then same port would be reported as open, and that is actually correct in OSX, because 0.0.0.0 would listen as *.{port}, and * does not mean that listen on "EVERY" available interface, it is a default route for spe

[2016-02-11 21:13] winfinit commented on #24
actually, similar scenarios could be on linux, however it seems that nodes "listen" behaves differently on linux vs OS X, for example, if you don't specify a host, node would create socket with protocol tcp6 and address would be :::3000, where if you specify host in listen like this: 'listen(3000, "0.0.0.0")' that would register host like this: "0.0.0.0:3000" with protocol set to tcp, and that wou

[2016-02-12 08:51] eriktrom commented on #24
@kevgo - https://github.com/indexzero/node-portfinder/blob/master/lib/portfinder.js#L108

options.hosts should be option.host otherwise we recursively pass undefined from the 2nd recursion onward. this did reveal some other thoughts i have regarding making sure a host passed in does not resolve to an ip address that we by default look for, which is what would happen even if options.hosts was in fa

[2016-02-17 22:55] jeffcharles opened #26 "1.0.1 breaks with EADDRNOTAVAIL"
On updating to 1.0.1 of portfinder, I started getting the following error:

[code]

Reverting to 1.0.0 fixes the issue.

[2016-02-18 00:37] eriktrom commented on #26
@jeffcharles - thanks for reporting that, that'll save some time when i fix the remaining bugs in 1.0

[2016-03-03 00:39] winfinit commented on #26
@eriktrom this one is pretty interesting... so we run into this exception when interface doesnt have ipv6 enabled... so we could add simple exception in a testPort to handle it, however "handling" becomes a bit opinionated, so for example, i would like to get a port for a host "::1", and interface is not enabled, i could report port is open (because ipv4 interfaces succeeded, and "EADDRNOTAVAIL" i

[2016-03-03 00:54] winfinit commented on #26
@eriktrom actually another option is add a setting that will ignore ipv6 errors, or pop ::1 off of hosts array...

here is a version without extra option:

in getPort we could have this:
[code]

and in testPort in onError add this:
[code]

[2016-03-11 08:56] eriktrom commented on #26
@winfinit - yes i agree - pop off the bad ones - related https://github.com/indexzero/node-portfinder/issues/26

[2016-03-11 09:10] eriktrom commented on #26
however checking for ipv6 is no longer sufficient - we should just handle the error when it arrises, remove  from the array the bad interface, keep moving - although this does depend on the error code so, now we have 2 known bad cases as of #28 - perhaps a lookup table will follow but inlining this as a case statement until we get a third case seems fine. (if there are more we'll want to make the

[2016-03-11 09:22] eriktrom commented on #26
3rd times the charm - your right - we can eliminate a whole class of bugs by checking for ipv6 first - then handle special cases after that (which are very possible - i have tried a few, although perhaps the users system settings become the responsible party in most cases after ipv6 is handled)

[2016-03-11 17:07] stefanpenner commented on #26
Some systems don't support ipv6 yet either(thought that was worth mentioning)

[2016-03-11 21:17] eriktrom commented on #26
Kool. So the consensus seems to be check for IPv6 support first. I'll throw together a pr assuming no one has any objections.

[2016-03-12 07:13] indexzero commented on #26
@eriktom sounds good.

[2016-03-20 03:32] stefanpenner opened #31 "can we get a release?"
would love to get @eriktrom's latest and greatest out in the wild: https://github.com/ember-cli/ember-cli/pull/5391/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L105

[2016-03-20 21:41] eriktrom commented on #31
@indexzero - ping! :+1: lol

[2016-03-20 21:44] eriktrom commented on #24
fixed on master

[2016-03-20 21:44] #24 closed

[2016-03-20 21:50] eriktrom commented on #15
If this was related to #9 and #13 then it's been fixed completely on master.

If it's related to finding an open socket and not find a port for a http host, then let me know to re-open.

(context: port finder is mainly used for finding an open port, but *can* find an open socket (fd), code paths are completely separate, a web socket socket is an upgrade from a normal http server, so assuming all s

[2016-03-20 21:50] #15 closed

[2016-03-23 19:49] indexzero commented on #31
Hey folks – I'm on vacation from 3/17-3/28. Will try to get a moment in front of the laptop :smiling_imp:

[2016-03-23 19:53] indexzero commented on #31
Had good enough service in the car. Done as `1.0.3`. Thanks for the contributions everyone :100:

[2016-03-23 19:53] #31 closed

[2016-03-23 20:23] stefanpenner commented on #31
Sweet thanks!

[2016-03-23 20:24] eriktrom commented on #31
yep thanks (stef - I will update accordingly)

[2016-05-06 17:22] dbuhrman commented on #21
I am still experiencing this issue in 1.0.3.  Portfinder returns a valid port on OSX, however, same app running on Windows 10 gives a port that is in use by another expressjs app.

[2016-05-06 19:37] eriktrom commented on #21
@dbuhrman - thanks for reporting - can you print your stack trace and versions of everything. Also can you run `npm i && npm test` inside node-portfinder itself on your machine, that would really help - our tests check for this scenario and run in appveyor but I'm not sure about anything on windows as I don't use it

If the tests pass then i need to borrow your laptop :)  (actually I have a branch

[2016-05-06 19:47] eriktrom commented on #21
@dbuhrman - also run this while your at it - while both are ports are open on different hosts  (if it works in windows, or if you know the equivalent)

[code]

[2016-05-06 19:49] dbuhrman commented on #21
@eriktrom I can try to run through this evening.  I don't have a perfect Windows setup myself.  I'm running Windows 10 64 through Parallels (to test an Electron app).  npm throws a fit due to some modules not able to compile on 64-bit windows...  I'll try to setup an environment for only portfinder tonight and see if I can run the tests and maybe a bit of debugging if I'm feeling bold. :-D

I hope

[2016-05-06 19:51] eriktrom commented on #21
That would be awesome of you - if there is an issue w/ windows this is the only way to fix it - I don't have have windows 10 setup and honestly not enough ram to run it if i did, so thanks again

[2016-05-06 19:54] eriktrom commented on #21
Hey one more thing - parallels has a number of interfaces - make sure to check the box in system preferences or parallels preferences to have it run in host only mode(aka, not shared or bridged, just lonely and isolated)

[2016-05-06 20:23] dbuhrman commented on #21
@eriktrom Tests passed (parallels in host only mode). Additionally, I started my app on port 32773 which should have made one of the tests fail, but all passed anyway.  This is all very strange to me, especially since I can't immediately tell the difference between how portfinder's tests setup servers and how the conflicting app (8800 below) is setting up it's server (except the extra wrapper that

[2016-05-06 20:28] eriktrom commented on #21
You found the issue - `[::]:0` is not an interface we check - so we bring out the big guns and since he's already on this thread he might press comment before i finish this sentence(lol) but @stefanpenner i guess we should check for `[::]:0` as well as `[::]:1` - thoughts - he's using parallels so this is not standard but I don't know of a reason not to check it (although I don't know anything abo

[2016-05-06 20:31] eriktrom commented on #21
@dbuhrman - btw in the meantime, till I look into it and make sure its okay you can pass the host option of `{host: '::0'`} and it'll add that interface to the hosts that we check, allowing you to continue your work in peace - thanks very much for contributing, your awesome

[2016-05-06 20:45] dbuhrman commented on #21
Confirmed that config on 1.0.3 fixes my issue on Windows 10.

Thank you everyone for this module.  It provides such a simple solution for the general problem of running an Electron app where available ports are unknown.

[2016-05-06 21:07] eriktrom commented on #21
@dbuhrman - no problem - for the record I'm going to just leave the code as it is. With parallels pro you can use `prlsrvctl net list` to look at your interfaces - i just did and there are too many to account for so we'll just let the end user pass in their host - if that gets annoying, especially with many OS's running, let me know

[2016-05-06 21:54] dbuhrman commented on #21
That's fine with me (workaround seems to work just fine for now), but would like to add that this was originally identified by someone running a host Windows machine, so I fear it may not be limited to Parallels.

Our QA should test this solution Monday (using a Windows laptop) and I can let you know the results.  I'm guessing this could all fall apart if someone has a lot of network interfaces on

[2016-05-06 22:35] eriktrom commented on #21
If this is the case, have them run through the same process you did and bring the results on back, we'll see whats up

yes, in theory - but (on first pass of thinking about it) if we take a scenario where someone had 3 interfaces they would also have to have 2 servers running on the same port on 2 different interfaces then when they run portfinder to find the 3rd but pass in the host option of the

[2016-05-07 00:01] dbuhrman commented on #21
Will do on hosts.  I really dislike how unpredictable this seems to be on Windows.  Just a thought (now understanding more of the root cause), maybe add a config option to turn off host checking (to more accurately simulate how we are about to start our express server)?  Or to further this idea, but maybe a step too far, give a way to override how the 'test' server is started, this way the user co

[2016-05-07 01:12] eriktrom commented on #21
all good with the comments

try netcat on a native window laptop - the ember team added the hosts feature to handle ember-cli's live reload server not working in a corporate environment where the laptop and network we're controlled meaning the network card was swapped and bound to by the company - which is just like you'd get if you choose bridge mode in the output below (i believe)

[code]

If yo

[2016-05-09 13:09] adi518 opened #32 "Doesn't seem to work"
I'm trying to run multiple instances of Express and while one receives port 80 (defined as base-port) the other (I'm testing with just two instances atm) also receives 80 from portfinder (despite already taken). Bug or am I doing something wrong?

[2016-05-09 20:42] eriktrom commented on #32
port 80 (or any port can be opened on more than one interface/host. If you have ipv6 enabled for example, you can start a server on port 80 on 127.0.0.1 and 0.0.0.0 and `::1` for example. There are possibly more interfaces via ipv6 that can also start, that we don't currently look for. One of those is `::0` something we discussed in an old ticket last week but should be moved here

can you run thi

[2016-05-09 20:49] adi518 commented on #32
I don't have ipv6 enabled, but I'll check again. I left a commented portfinder snippet in my code and tried open-port instead, which worked as expected. You'll have my feedback nonetheless.

[2016-05-09 20:53] eriktrom commented on #32
Awesome thanks @adi518 - my guess is netstat should say the host is something other than 127.0.0.1, 0.0.0.0 or `::1` - and depending on what you get back when running that, we can add it to the list of hosts we check when trying to find an open port (on a unique host) - parallels VM uses port `::0` for example, which I plan on adding - your corporate issued laptop may also be setup with a network

[2016-05-09 20:58] adi518 commented on #32
I assumed something is missing from your checks. I'll let you know tomorrow.

[2016-05-09 21:03] eriktrom commented on #32
kewl - also worth noting is that you can pass one additional host that we'll check via `portfinder.getPort({ host: 'myhostnameorip' })` which if that works we can make a default

[2016-05-09 21:04] adi518 commented on #32
Ah, that's good to know. I'll try it.

[2016-05-10 18:52] adi518 commented on #32
Didn't manage to play around with it today, hopefully in the next days. Thanks for your help.

[2016-07-11 17:37] eriktrom commented on #32
@adi518 - this should be fixed by #33 - if you find otherwise, let me know.

Thanks for filing the issue 👍

[2016-07-11 17:37] #32 closed

[2016-07-11 17:42] adi518 commented on #32
Great news, thanks. :)

[2016-07-15 21:26] eriktrom opened #34 "Correctly catch EADDRNOTAVAIL"
largely copied from https://github.com/ember-cli/ember-cli/issues/6083

- In portfinder 1.0.3 there we're 2 issues
  1. Starting in a recent version of MacOS the interfaces that will bind when starting a node server grew dramatically. To solve this portfinder 1.0.4 uses the built in node method `os.networkInterfaces()`, loops through the hosts found and (semi-smartly) filters out the hosts that ar

[2016-08-16 07:45] #34 closed

[2016-08-16 07:46] eriktrom commented on #34
closed by #37

[2016-09-05 12:23] dharmax opened #38 "It simply doesn't work for me. it always give me 800."
However, this simple code does work:
`
export function findFreePort() {
    return new Promise((resolve, reject) => {
        var server = createServer()
            , port = 0
        server.on("listening", function () {
            port = server.address().port
            server.close()
        })
        server.on("close", function () {
            resolve(port)
        })
        server.on('er

[2016-09-05 12:23] dharmax opened #39 "Port is being re-bound under windows 10 (native shell) preventing portfinder logic from working"
However, this simple code does work:
`
export function findFreePort() {
    return new Promise((resolve, reject) => {
        var server = createServer()
            , port = 0
        server.on("listening", function () {
            port = server.address().port
            server.close()
        })
        server.on("close", function () {
            resolve(port)
        })
        server.on('er

[2016-09-05 16:17] eriktrom commented on #38
closing - superseded by #39

[2016-09-05 16:17] #38 closed

[2016-09-05 16:21] eriktrom commented on #39
howdy @dharmax - can you provide more info?

What do you mean by

do you mean `8000`? The base port starts at 8000 here: https://github.com/indexzero/node-portfinder/blob/39e39603ec1f5dd27d5fafa9ea1dc7d2e5a558fd/lib/portfinder.js#L73

If you give me some more detail I'm more than glad to help work through this with you.

Thanks!

[2016-09-05 18:17] dharmax commented on #39
Sorry, 8000, yeah.
Even if it already in use, of course.

[2016-09-05 18:28] eriktrom commented on #39
Thanks @dharmax for confirming - which version of portfinder are you running?

If your running the latest version, do mind setting this env var before you start your process:

`DEBUG=portfinder*`

e.g.,:

`DEBUG=portfinder* node index.js`

If you have a chance, paste that into a gist and drop me the link - I'll figure it out from there.

Thanks again

[2016-09-23 20:51] noahzark commented on #39
@eriktrom @indexzero
Hi,

 I also have the same probelm on Windows 10 (Version 10.0.10586) development machine, but works well on Linux machines. Seems windows 10 is allowing http.createServer(express()) and net.createServer listening on the same port with the same host (though the net server isn't working).

The screenshots are here:
http://imgur.com/a/libNy

Here are the steps to reproduce:

1.

[2016-09-24 01:24] eriktrom commented on #39
howdy @noahzark - thanks for the detailed report

Couple of quick questions will help me a bunch:

1. What version of node (engines prop says 0.10.x, is that correct?)
2. Did this occur on windows 8 (if u dont know, no worries)
3. **Most importantly, can you open a node shell via `node` on ur command line, then type `os.networkInterfaces()` and paste the output here (or in a linked gist if its lon

[2016-09-24 02:41] noahzark commented on #39
@eriktrom Thank you so much for your response, it really helps a lot.

1. Actually I'm using Node 6.5

2. All my Windows 8 machines were upgraded to 10, so I'm unable to confirm (LOL

3. There are my network interfaces:
[code]

4. Since I was using an old version of express server, I wrote a small test script. Unfortunately it still doesn't work.
Here is the screen shot:
http://imgur.com/eA3lFEj
Y

[2016-09-27 08:10] eriktrom commented on #39
@noahzark - hey I really appreciate the info u provided. I pushed what I believe should fix the issue to https://github.com/indexzero/node-portfinder/commit/6ee0553d0af89ace69c58ec3c5dcbca93b5751fc - do u mind merging or installing that sha directly into ur setup to test it out

tl;dr - we no need longer look at `0.0.0.0` - that logic was old, incorrect and no longer needed as of 1.0.7 - (wahoo!)

[2016-10-02 04:56] noahzark commented on #39
@eriktrom Hmm... Seems this fix still doesn't work due to the Windows allows to bind several times using the same port & host `options.server.listen(options.port, options.host);` (Seems it's not a node bug but the system's bug)

When I tried to remove the options.host argument and changed that line to `options.server.listen(options.port);` The error event is normally triggered. So the conclusion i

[2016-10-06 09:24] artch commented on #39
I can confirm that portfinder doesn't work on Windows 10 as expected, always indicating a busy port as free. The entire module purpose is compromised. I think this is a breaking bug which must be fixed ASAP.

[2016-10-06 10:07] eriktrom commented on #39
@noahzark - just to clarify this sentence in context of the way the old portfinder worked

In older versions, if you started a python server on port X and then ask portfinder to find an open port, starting with X, it would happily say 'yes port X is open' when the truth is 'Yes port X is open, but on a different interface (and therefore w/ a different ip address) than you may have expected'.

Sorr

[2016-10-06 12:05] artch commented on #39
This sounds like pretty reliable approach to me.

[2016-10-06 12:30] eriktrom commented on #39
@artch - thanks for the feedback 👍

One question I have is:

When windows 10 allows re-binding to a host+port, like in the python simple http server example, does the second 'bind' take precedence over the first?

Regardless - on friday night I'll have access to a few machines that can run my Parallels install of Windows 10 and I'll make these changes and test out this monkey business thats going

[2016-10-18 09:18] dciccale commented on #26
just for the record, this happened to me because of being connected to a vpn.. not exactly know why, i guess it blocks that host

[2016-10-18 14:27] eriktrom commented on #26
@dciccale - this should be fixed on 1.0.8. (Has been for some time).  Are u still seeing this issue behind a vpn?

[2016-10-18 19:58] PjEdwards opened #43 "v1.0.8 defaultHosts not finding 0.0.0.0"
Somewhat recently `npm install portfinder` started giving us a version 1.0.8 (which strangely doesn't exist here on the github site). We're using it as part of ember-cli. When we spin up a server locally with portfinder debugging turned on we can see:

`portfinder:defaultHosts exports._defaultHosts is: ['::1', '127.0.0.1', <public_ip>, <vpn_ip> ]`

Where it used to be:

` portfinder:defaultHosts e

[2016-10-18 21:14] dciccale commented on #26
yes, with vpn connected i see the error, i disconnect the vpn and everything's fine. haven't dig in too much though. i'm using latest mockgoose which uses latest portfinder. the error is catched  here https://github.com/indexzero/node-portfinder/blob/master/lib/portfinder.js#L152

[2016-10-18 22:54] JasonGoemaat commented on #43
Bump!  Uncaught exception when trying on windows 10 using angular-cli.  The error is attempting to bind to the port on an adapter that isn't working or isn't allowed.

[2016-10-18 23:27] eriktrom commented on #43
Sorry folks. I'll fix this as soon as I get off this airplane. I apologize.

[2016-10-18 23:32] kabirsikand commented on #43
https://github.com/ember-cli/ember-cli/issues/6361 for reference.

[2016-10-18 23:47] eriktrom commented on #43
portfinder has been reverted to 1.0.7 code and published to npm as 1.0.9

I fix the root cause in 1.10.0

Thanks to all who reported the issue

[2016-10-18 23:47] #43 closed

[2016-10-18 23:52] eriktrom commented on #26
@dciccale - thanks for bringing this up. I'll take a look at mockgoose and probably ping u back for more info.

[2016-10-19 03:55] eriktrom commented on #39
@artch @noahzark - fwiw - I shipped the proposed fix for windows native shell and it broke on computers with bluetooth enabled.

I currently don't have another way to hack around the way windows 10 is allowing u to bind to a port more than once. If u guys come across such knowledge, drop me a note here.

[2016-10-19 11:01] dciccale commented on #26
@eriktrom with new version 1.0.9 which is a rollback it works

[2016-10-19 17:59] eriktrom commented on #26
@dciccale - awesome thanks for verifying that!

[2016-10-19 17:59] #26 closed

[2016-10-19 19:20] nw opened #45 "Comment - Semantic Versioning"
@eriktrom Thanks for giving this package some attention. The `1.0.8` patch release was a bit unfortunate. I would argue that in the future things like the windows 10 support work should bump the minor and not the patch part of the version number.

Thanks again!

[2016-10-19 20:22] eriktrom commented on #45
@nw - good call. I'm on board with that! :)

[2016-10-20 03:08] #45 closed

[2016-11-06 13:32] khrome83 commented on #39
[code]

[2016-11-08 18:21] eriktrom commented on #39
@khrome83 - yeah sorry about that - so to clarify - there are 2 windows 10 issues - one with the native shell and one with the bash shell - if you hit `uv_interface_addresses` that means u must have been using the bash shell, which does not have a networking stack ATM - u can follow that issue here: https://github.com/Microsoft/BashOnWindows/issues/468

I had a hack in place for the windows 10 bas

[2016-11-08 18:38] khrome83 commented on #39
@eriktrom In the short term, the hack would be ideal. Even if it's just on a separate branch. I am on the Insiders ring, and it will still take months to make it too me on the Slow Ring given the release path before, and the users not on Insiders ring won't receive the update until the Windows 10 Creative update launch I assume.

Are there any downsides on leaving the hack in?

[2016-11-08 18:48] eriktrom commented on #39
@khrome83 - actually its on master ATM - do u mind working off that - let me know if u hit any issues too - if not I'll cut a release with master as is

I merged this in a couple weeks back - haven't released to npm though (b/c I haven't fully had the time to battle test it) - https://github.com/indexzero/node-portfinder/pull/46

downsides to leaving the hack are minimal - there are a number of re

[2016-11-08 23:18] eriktrom commented on #39
@khrome83 - hows master working out - I don't launch windows much - let me know if u do use it - thanks a bunch

[2016-11-10 01:13] khrome83 commented on #39
Going to give this a shot and see if it resolves the issue. Sorry @eriktrom I have not had a chance to look into it. Was working on my MacBook. Reinstalling the repo on the SurfaceBook to see if master resolves the issue.

[2016-11-10 01:22] eriktrom commented on #39
ur awesome thanks again

if things are not working - u can set the env var `DEBUG=portfinder*` and you'll get some overly verbose debug logging, which u might throw into a gist, just fyi

it works in parallels, never tried a real windows machine, so really, thanks

[2016-11-10 01:31] khrome83 commented on #39
It got me past my pervious error. Now I am getting a different issue.

[code]

Guessing this is a webpack problem though. Posting here just in case you think otherwise.

[2016-11-10 01:36] eriktrom commented on #39
Yeah - looks like webpack - maybe fix it for them - here is how yarn package manager fixed their issue https://github.com/yarnpkg/yarn/pull/772/files - the code for portfinder (bottomo of portfinder js, from #46 is very similar, easy pickins i'd say :)

[2016-11-10 01:38] eriktrom commented on #39
also - thanks - i'll make the move in the morning to cut a release now that I have double verification that it works - if something changes and u find a bug, drop me a HALP comment so I dont release a bad version :)

[2016-12-07 23:06] HeroicEric opened #47 "Not detecting touchbar macbook pro process"
Related to https://github.com/ember-cli/ember-cli/issues/6513

It seems that the new Touchbar Macbook Pros use port 49152 for something related to the touchbar. portfinder still returns this port as available when it's in use by (what we think is) the touchbar.

[code]

[code]

[2016-12-08 00:30] eriktrom commented on #47
see https://github.com/ember-cli/ember-cli/issues/6513#issuecomment-265617326 for my first response

[2016-12-08 00:36] eriktrom commented on #47
given this

[code]

@HeroicEric - can u open a node console and run `os.networkInterfaces()` and see if that host prints out? Very much appreciated.

[2016-12-08 00:43] HeroicEric commented on #47
@eriktrom It looks like that host is in the output.

Here's the output from looking for the process running on that port again and then `os.networkInterfaces()`:

[code]

[code]

[2016-12-08 00:49] eriktrom commented on #47
@HeroicEric - interesting - thanks for the output - helps a lot

[2017-01-12 19:43] NemoStein commented on #39
I'm having this problem (portfinder not working as expected on Win10) and found this issue, but, after reading the entire discussion I'm not sure if it was fixed or not.
So, I must ask: Do we have a solution/workaround?

[2017-01-12 20:20] eriktrom commented on #39
Sorry it's not fixed yet. Look for it soon though

Work around in the meantime is pass a port that u know is open for sure.

[2017-02-06 08:33] wenner opened #52 "Encountered an error when host [::]"
When i run the code , i get the result is 8080;
[code]

here is log
[code]

Here is my system net information

[code]

but the 8080 Port is occupied
[code]
and there have a host [::] , then i change the code portfinder.js
[code]
it's OK and Get the right results I want 8081

i don't know why , but i think it's the ipv6 address of '0.0.0.0'
[code]

and how fix it?

[2017-02-06 15:53] wenner commented on #52
OK , in my code , puth "::" to the _defaultHosts , it's work find
[code]

[2017-02-07 20:32] eriktrom commented on #52
Interesting. What version of windows are u using? Thanks for any os info u can provide.

I'll check this out. I need to make a release soon and will try to handle this case. Thanks for reporting the issue.

[2017-02-08 02:17] wenner commented on #52
my OSinfo : Microsoft Windows [版本 10.0.14393]

[2017-02-08 15:58] eriktrom commented on #52
@wenner - i have to thank u - seriously - `::` might just be the the host needed to fix windows 10 support, which has been lingering as #39 for a few months now - I had a rather creative hack in mind but honestly didn't understand why windows was allowing rebinding and held off (procrastinated u could say too) b/c it just didn't make sense that they would allow rebinding to an interface with the s

[2017-02-09 12:00] wenner commented on #52
Thank you for your answer

[2017-02-09 12:00] #52 closed

[2017-03-31 08:25] GabrielDelepine opened #54 "Expose testPort to public"
Hi @indexzero and thanks for the great job !

It would be nice to `export testPort`.

Why ?
I'am using node-portfinder to start a _web server_. I'd like to use `testPort` to regulary check if the port is in use to know when the _web server_ is up.

It would be much nicer to listen for a specific signal of the child process, but all web server does not implement it.

If you like the idea, I can mak

[2017-04-24 11:39] pnemade opened #55 "Request release sources on github also"
tarballs uploaded in npmjs does not contain any tests directory and I need them for Fedora packaging. Therefore I generally pick tarballs from github only. This project does not contain any recent tarballs.

Can you please release the recent release tarball?

[2017-04-24 19:16] eriktrom commented on #55
@pnemade - no problem - https://github.com/indexzero/node-portfinder/releases/tag/v1.0.13

does that do it, let me know (this wasn't made till just now, so from npm, it may try to pull master - also note the files in the tarball may still only include lib - https://github.com/indexzero/node-portfinder/blob/master/package.json#L15-L17

throw me a comment if this doesn't work for u (thinking it may

[2017-04-25 02:58] pnemade commented on #55
Thank you, that worked for me.

[2017-04-25 11:24] eriktrom commented on #55
Np

[2017-04-25 11:24] #55 closed

[2017-07-26 13:48] liesislukas opened #57 "better docs"
great tool, thanks for the code but i had to find out myself by navigating your source that it does have option to define preferred port. Please add at least config options to readme.

[code]

[2017-07-28 20:17] eriktrom commented on #57
agreed - thanks for the push - btw - u can use `portfinder.basePort` for the rhs of your preferredPort above e.g., `portfinder.basePort = 3003` will automatically begin the port iteration with port 3003.

[2018-01-04 17:05] YounGoat opened #59 "May I use port range on finding port?"
Something like port range syntax supported by [portman](https://www.npmjs.com/package/portman#portmanportrange).

[2018-01-11 14:25] Leftium commented on #39
This package works in Windows 10: https://www.npmjs.com/package/get-port

The API is very similar.

[2018-01-11 15:04] eriktrom commented on #39
@Leftium - thanks for the link

I don't believe this is an issue any longer. IIRC (more than a year ago) this issue only happened when using the developer build of windows 10 and checking the box that said something like 'allow port rebinding' within the developer experiments settings (same settings panel where you turn on bash for windows)

closing, thanks again for the alternate package, perhaps

[2018-01-11 15:04] #39 closed

[2018-01-11 15:09] eriktrom commented on #59
This idea is certainly legit - the issue is the complexity it'll add - if you'd like to spike an implementation i'd be more than willing to help this become a thing...

[2018-01-11 15:53] Leftium commented on #39
Oh, I think I misinterpreted this issue. If my problem is a different issue, I can open a new issue.

If my app was already using port 80, portfinder used to get me port 81. Now it just throws this error (which defeats the purpose of using portfinder):

[code]

[2018-01-31 21:09] emileber commented on #57
@eriktrom `portfinder.basePort` is a problem when searching for 2 ports on different ranges in parallel. I almost dismissed this package since I thought it wasn't possible, until I saw this issue.

Documenting the options would really help.

[2018-01-31 22:41] eriktrom commented on #57
Yes - sorry about that

regarding this - keep in mind that there is a rather random (depending on ur version of node, and your os) amount of time that it takes for the socket to close(and the file descriptor to be cleaned up) - thus if u run portfinder concurrently, don't set the basePort to be the same for each process you spawn - in practice(in the tests actually) i recall this being an issue -

[2018-02-01 08:06] liesislukas commented on #57
@eriktrom it could add all possible ports to an array and pick a random item from an array on each iteration so collision probability will be a lot lower.

I've tried to use this package inside tests and I would love to run 8 tests at the same time but can't because of the collision. Now tests are running 1-by-1 and take 8x more time to run.

[2018-05-21 08:40] YomaDan opened #60 "Failed"
Im run two servers on one machine. First service listen 8000, second server start and use you solution return 8000 as free port.

See listing:

`import http from "http";
import parser from "body-parser";
import express from "express";
import compression from "compression";
import portfinder from "portfinder";
import routes from "express-list-endpoints";
import { apps } from "./config";

class Serv

[2018-05-21 12:36] eriktrom commented on #60
@YomaDan - thanks I'll check it out this week

[2018-05-21 12:36] eriktrom commented on #60
what os/env?

[2018-06-29 13:57] Steve-3d commented on #60
Had the same issue today... found out, that when a service listens on a port but for all interfaces ("*") the port is still considered free. As soon as I listen only on 127.0.0.1, the port is succcessfully recognized as being used. [Windows 10, NodeJS + Express Server].

[2018-07-02 18:19] Prithvirajbilla opened #61 "Option to provide a blacklist of ports while finding available port."
I am running into scenario where it would be nice to have a blacklist of ports (which should not be returned by portfinder, even if there are available).

I am not sure how to achieve  this.

Let me know what you think of adding this option to the current api.

happy to submit a PR.

[2018-07-02 20:36] eriktrom commented on #61
This is similar to #59 where someone wanted to supply a range of ports - the way it works is you can pass a port (and host, or not) and it'll iterate until it finds a port that is open and won't bind to ipv6 while that port is already bound to ipv4 (loopback for both).

tl;dr - we could provide a stop port in this area of the code https://github.com/indexzero/node-portfinder/blob/master/lib/portfi

[2018-07-02 20:48] eriktrom commented on #60
There is a bunch of logic that is supposed to prevent this - actually took me a while to get close to perfect, but it's **not** perfect - to actually fully know, we'd have to pipe a string through the bound interface + port (echo server). I tried this but never shipped the branch, but it's one way to fix this for windows, if anyone wants to put in the effort. Windows is not my native OS, so apolog

[2018-07-02 21:18] YomaDan commented on #60
Отъебись

пн, 2 июл 2018 г., 23:49 Erik Trom <notifications@github.com>:

[2018-07-09 11:49] arielhad opened #62 "Port in TIME_WAIT state should not be returned"
I used `portfinder.getPortPromise({port: startRangePortToUse})` in order to get free port but `getPortPromise` does not filter out ports stuck in `TIME_WAIT` status -which mean that the port is not really "free"

[2018-07-16 01:45] Prithvirajbilla commented on #61
Thanks for your reply.

I will take a shot at this. I think I should I have something by EOW.

[2018-07-30 03:13] houfeng0923 opened #64 "can't find correct port in window 10"
when start server(http or socket) without host binding , i find  module can't detect the port is using .

[code]

and it work well in macos and linux.

[2018-08-03 17:19] eriktrom commented on #64
@houfeng0923 - thanks for the report - this seems to be coming up a bit more, perhaps now that windows 10 is in larger circulation.

If u pass a host, like `::1` or `localhost` does it go away?
Also, apparently (I was told) you can pass `*` as a host on windows. This is **not** accounted for currently in the codebase. There is a comment(in the issues here, i think, couldn't find it just now) that

[2018-08-06 15:36] #61 closed

[2018-08-07 03:25] leekafai opened #65 "can i disable the options.startPort >1024 check?"
when i developing front end pages,i usually set webpack dev port to 80,with hosting 127.0.0.1:80 to a fake
domain,because some modules need to validate the domain name ,such as login module,so i think it would be more easy to use if this '1024' check can be disabled or default disabled.
Still thanks for this awesome module.

[2018-08-07 14:40] Adam-Michalski commented on #65
I have the same problem when using AngularCli.
When app starts on port 80 I cannot run this even with administrator privileges.
Error:
`Provided options.startPort(80) is less than 1024, which are cannot be bound.`

[2018-08-07 16:01] eriktrom commented on #65
@leekafai @Adam-Michalski - make a pr to change the line above this comment to probably < 0 - i'll do it around lunch if u don't get to it

we released that yesterday, sorry `bout that, have it cleaned up here in a sec

[2018-08-07 16:05] #65 closed

[2018-08-07 16:08] eriktrom commented on #65
fixed and published - let me know of further issues, thanks

[2018-10-17 23:44] eriktrom commented on #64
closed by #67

[2018-10-17 23:44] #64 closed

[2018-10-17 23:49] eriktrom commented on #59
@YounGoat - #63 allows a start and stop port option (see that pr for the correct named params to use, i'll make a ticket to create some very needed docs)

ps - didn't take a look at portman, but if the api fits with the code in #63, or your request invites further discussion, i'm be open to it

[2018-10-17 23:49] #59 closed

[2018-10-17 23:51] eriktrom commented on #57
- [ ] add docs for start and end port

[2018-10-17 23:55] eriktrom commented on #57
@liesislukas - try the new stop and end port options, see #63 for api on that

to get a random port, modify this (CLRS based random number generator, low probability for collisions), pass that in to portfinder.getPort

[code]

cheers

[2018-10-17 23:56] eriktrom commented on #54
let me know if this is still a feature request, closing cause its stale (probably my fault, 1.5 years ago, sorry)

[2018-10-17 23:56] #54 closed

[2018-10-17 23:57] eriktrom commented on #47
pass a stop port that is 20,000 ports lower than 65,000 via the new stop port option, see #63 for the api

(if someone wants to write docs for that, by all means)

[2018-10-17 23:57] #47 closed

[2018-10-18 00:00] eriktrom commented on #62
this issue is legit, the only way to make this work is to echo something through the net.Server.

i did a spike of this, the problem is that interfaces like bluetooth throw really random errors - which is fine, but we'd have to (probably) completely switch to this style of 'is a port open' verification and make a major version bump - I am open to a PR for this, with the caveat that that someone wo

[2018-10-18 00:00] #62 closed

[2018-10-23 02:28] eriktrom commented on #57
closed by #70

[2018-10-23 02:28] #57 closed

[2018-10-26 09:34] tiagosiebler opened #71 "Find port on remote machine"
Would be curious if this can be adapted to find an available port on a remote machine, rather than localhost.

[2018-10-26 23:02] eriktrom commented on #71
yeah - you can pass `host` as well as `port` - however, the host you pass in (ip or hostname) will be pushed onto an array of default hosts ([`0.0.0.0, ::1, null, "*"]` at minimum IIRC) - the port is considered 'found to be open' when `net.createServer`'s `.on('listen')` handler is called (and 2 well known errors, `'EADDRINUSE' || 'EACCES'`) are thus not thrown...

you can get around this 'local'

[2018-12-12 13:17] ibc opened #73 "There is more than TCP"
UDP exists. A port can be TCP or UDP. Perhaps the README could clarify it.

[2018-12-15 23:50] eriktrom commented on #73
yep - pr's welcome - docs should roughly be some words + this test code: https://github.com/indexzero/node-portfinder/blob/8d0b757c3c318499f9fd1f8d865e8e7784801204/test/port-finder-socket-test.js#L30-L51

[2019-01-09 12:21] evilebottnawi opened #74 "use `neo-async` instead `async` for perf reasons"
I can send a PR :+1:

[2019-02-21 18:49] axfelix opened #76 "How can I call getPort() and just have it return an open port?"
Hi,

I'm afraid this is an extremely stupid question, but I'm coming at this with a Pythonic brain and I can't figure out from your documentation how I'm supposed to return an openPort from a call to getPort without having to rearrange all of my code inside of its scope.

[2019-02-21 19:01] eriktrom commented on #76
[code]

There is also a promisified version

[code]

also worth noting the optional options arg  `{ host: string, port: <string|number> }` can be provided as well, as first arg to either version. The host will be added to the default hosts we check (::1, localhost, 0.0.0.0), and the port option will start iterating through ports starting with that port..

[2019-02-21 19:14] axfelix commented on #76
Sorry, I should've clarified -- in the non-promisified version, what's the easiest way of returning `port` outside of that scope? That's the part that I'm just not getting.

[2019-02-28 03:53] eriktrom commented on #76
sorry for the delay!

tl;dr - with async callbacks in node - you don't :)

you might think u **could** do something like the following (but dont!)... i'll throw a python async like way at the bottom...

but first, callback hell style with common gotcha when trying to *get around* it:

[code]

the problem with this is the same problem with this code:

[code]

e.g., there is no way to deterministica

[2019-02-28 05:04] axfelix commented on #76
Thanks so much!

[2019-02-28 05:04] #76 closed

[2019-04-04 20:29] evilebottnawi commented on #74
/cc @eriktrom friendly ping

[2019-07-08 10:44] indexzero opened #78 "Join http-party Github organization"
Over the years I've contributed to / started / taken over several of TCP / HTTP(S) related node libraries. Each of these libraries has matured and gotten a set of independent maintainers – each with their own ebb & flow of maintenance.

In an effort to make maintaining all of these easier I created the `http-party` Github organization which I would like to add this project to.

I've invited the cu

[2019-07-11 15:26] eriktrom commented on #78
I accept @indexzero :)

seems good

[2019-08-02 16:09] BarthesSimpson opened #79 "Replace sequential scan with random search"
Instead of scanning from the base port to the highest port, a randomized search would be more robust. Currently, if I am launching several servers in quick succession, there can be port collisions because one server may not have finished binding to the port discovered by portfinder before the next call to getPort, which then considers the same port to still be unbound.

[2019-08-10 01:05] eriktrom commented on #79
Yes, this an issue I am aware of. Randomizing the port scanning is an interesting idea -- open to a PR on this, thanks!

[2019-08-10 16:45] BarthesSimpson commented on #79
(Sorry for the triplicate PR - my GitHub chops are a bit rusty)

[2019-08-17 10:17] #78 closed

[2019-08-17 10:17] eriktrom commented on #79
fixed by #82

[2019-08-17 10:17] #79 closed

[2019-08-17 10:24] eriktrom commented on #74
sorry - cleaning house - the perf characteristics of this lib will not improve given the determining factor will remain how fast node and the system can release the port after it is said to be open -- when testing many ports, this problem becomes amplified to the point where a faster async library doesn't solve much.

also, we'd have to security audit it cause well, that's become a thing these day

[2019-08-17 10:24] #74 closed

[2019-08-17 10:26] eriktrom commented on #71
stale, closing

reopen if you have questions

[2019-08-17 10:26] #71 closed

[2019-08-17 11:54] AllenField opened #84 "the version 1.0.22 do not search from the basePort"
the version 1.0.22 do not search from the basePort

[2019-08-17 13:44] jelhan opened #85 "Breaking change in 1.0.22 if port is > 40000 and stopPort is not set"
Default highest port was reduced in https://github.com/http-party/node-portfinder/pull/82 from `65535` to `40000`. This was discussed in https://github.com/http-party/node-portfinder/pull/82#issuecomment-520199847 and explicitly stated to be done to _not_ introduce a breaking change. But it has indeed if `getPort()` is called with `port > 40000` and without `stopPort` and without overriding `portf

[2019-08-17 18:55] BarthesSimpson commented on #84
It does, but instead of starting at `basePort p` and checking `p`, `p+1`, `p+2`... `stopPort` in order, it now checks a random sequence of ports in the range `basePort`...`stopPort`. This change was to fix an issue where calling `getPort` more than once in quick succession could lead to the same port being returned multiple times if the client had not finished binding by the time the second call r

[2019-08-17 21:21] bcfurtado commented on #84
This is a breaking change then since the previously expected behavior was that the `basePort` would be used as the initial default value.
Packages such as [`vue-cli`](https://github.com/vuejs/vue-cli/blob/348e36eedbf77337e372cb7c226509114a1d6f5b/packages/%40vue/cli-service/lib/commands/serve.js#L104) and [`webpack-dev`] were relying on this behavior.

[code]

[code]

[2019-08-17 23:38] jaredjj3 commented on #84
The change made does not solve the problem, since multiple calls of `getPort` can still return the same port. This "port collision" event is more probable as the range `basePort`...`stopPort` decreases to 1.

I recommend reverting this change or making it optional.  The caller will then be responsible for port reservation.

[2019-08-18 09:23] AndreasCag commented on #84
I recently configured webpack and was really frustrated with that behaviour.

As for me, I would like to have my app on a certain port most of the time, and if it is busy, then choose next port in a sequential order. It is easy to remember and convenient behaviour.

[2019-08-18 09:37] ThibaultVlacich commented on #84
This absolutely makes no sense.

1/ There's no bug in the first place. If an application "call[s] `getPort` more than once in quick succession" there's a problem with the logic, as you should wait for a call to have returned a port, assign it, and then make an other call.
2/ Even if, it doesn't "fix" the issue, it just makes the probably of it happening very thin.

[2019-08-18 14:58] BarthesSimpson commented on #84
It's not about waiting for the port to return - it's that whatever is binding to the returned port (e.g. a server) can take some time to bind even after the port is returned.

That's correct. It means any application that is binding and releasing a large number of ports dynamically can rely on a simple error handler in the downstream logic (i.e. if the attempt to bind encounters an EADDRINUSE, ret

[2019-08-19 02:19] heelercs commented on #84
I use Vue Cli, and this completely broke devServer.port in vue.config.js. I ended up reverting to 1.0.21 of portfinder for now.

[2019-08-19 03:21] danlynn opened #87 "portfinder@1.0.22 returns random port (Docker examples)"
Something changed that is causing portfinder to return random ports instead of the requested port which is open:
[code]

Here is the same code running successfully with portfinder@1.0.21:
[code]

[2019-08-19 03:35] rodrigoyoshida opened #88 "Portfinder breaking new Ember projects"
According to the issue reported below, the latest portfinder version (1.0.22) might has a bug that breaks new Ember projects. That prevents people from serving their projects locally. Since I am not sure if it is an issue related to Ember our portfinder I am trying to report here to get some help.

https://discuss.emberjs.com/t/port-4200-is-already-in-use/16972/3

[2019-08-19 03:39] danlynn commented on #88
This is why I posted this issue a few minutes ago:  https://github.com/http-party/node-portfinder/issues/87

[2019-08-19 04:37] pigxcloud commented on #84
Very bad

[2019-08-19 06:10] fenghuijiuzhuan commented on #87
+1

[2019-08-19 07:29] okbeng03 commented on #87
+1

[2019-08-19 07:57] SmithXiong commented on #87
npm install portfinder@1.0.21 revert is ok

[2019-08-19 12:49] jelhan commented on #88
@rodrigoyoshida This is tracked here: https://github.com/ember-cli/ember-cli/issues/8794 It's caused by #84 and #85.

[2019-08-19 12:49] jelhan commented on #87
This is a duplicate of #84. It should be fixed by #86.

[2019-08-19 12:51] Qaick commented on #84
Also https://github.com/vuejs/vue-cli/issues/4452

[2019-08-19 19:22] pimterry commented on #84
This has created bugs in my application too - I'm specifically depending on finding the _first_ available port in the range, not a random port.

[2019-08-19 20:09] eriktrom commented on #84
I will roll back immediately

[2019-08-19 20:15] yuchenshi opened #89 "stopPort is now exclusive since 1.0.22 (Breaking change?)"
Before, if `stopPort` is 9000, portfinder will try up to 9000 and see if it is open. With the new 1.0.22 release, portfinder seems to exclude 9000. This is seen in [the code to generate candidatePorts](https://github.com/http-party/node-portfinder/blob/f2fa9d8a0c7144bb23ebc81269cbf92d9f462946/lib/portfinder.js#L160), where it now reads `i < options.stopPort` instead of `<=`.

This is especially tr

[2019-08-19 20:22] eriktrom commented on #84
Reverted v1.0.22 - v1.0.23 is the same as v1.0.21 now

[2019-08-19 20:23] eriktrom commented on #88
this should be fixed, i reverted npm deploy from sat morning

[2019-08-19 20:23] #88 closed

[2019-08-19 20:23] #84 closed

[2019-08-19 20:23] eriktrom commented on #89
this should be fixed, i rolled back v1.0.23 -> v1.0.21

[2019-08-19 20:23] #89 closed

[2019-08-19 20:24] eriktrom commented on #87
this should be fixed, i rolled back v1.0.23 -> v1.0.21

[2019-08-19 20:24] #87 closed

[2019-08-19 20:24] eriktrom commented on #85
this should be fixed, i rolled back v1.0.23 -> v1.0.21

[2019-08-19 20:24] #85 closed

[2019-08-20 08:12] enflag opened #90 "The specified port is invalid and is always a random port"
The specified port is invalid and is always a random port.
I found this bug on line 159 of "protfinder.js"
You can do it this way:

[code]

[2019-08-20 20:23] eriktrom commented on #90
This was reverted yesterday as v1.0.23 - `yarn upgrade portfinder -L` will fix it (or npm equiv)

[2019-08-20 20:23] #90 closed

[2019-08-29 11:59] Jaykamdar commented on #57
No need to include external dependencies:

Just add or config from your config file

for vue config:
const portfinder = require("portfinder/lib/portfinder"); // Give appropriate path of portfinder.js
portfinder.startPort = 44342; // required port - 1
portfinder.highestPort = 44344; // required port + 1

devServer{
   port: 44343 // required port
}

[2019-09-04 18:49] eriktrom opened #92 "Discussion: portfinder v2, foster community, docs and general guidelines"
#### This issue serves to document features requested by community members, and how we should manage such needs.

tl;dr - this lib at v1 is largely frozen, code wise. It needs major help though with communication of it's intent and guidelines for extending it for individual use cases.

The following outlines those current needs. At the bottom I've added some notes about v2, however unlikely it is

[2019-09-04 19:02] eriktrom opened #93 "Sync Chat"
@indexzero - do we have a synchronous way to chat - for community members who seem to be becoming more interested in this project, a way to chat seems reasonable. (not a lot of people but atm, it's hard to directly chat with anyone, non async).

slack, gitter, discord - does http-party team such a thing?

(if not, should I set it up, if so, preference?)

[2019-09-05 19:35] eriktrom opened #94 "change package.json repository url"
s/git@github.com:indexzero/node-portfinder.git/git@github.com:http-party/node-portfinder.git

[2019-10-16 08:00] TingYinHelen opened #95 "Why don't use net.connect"
I use net.connect() to write same function. It is faster than use net.createServer.
[code]
![image](https://user-images.githubusercontent.com/14006826/66899650-ed7b8300-f02d-11e9-8d98-d06f48805955.png)

[2019-10-16 15:53] flymzero commented on #95
抓到一个小姐姐
if connection blocking, it will do 'error' event or 'timeout' event ?🤔

[2019-10-17 01:56] TingYinHelen commented on #95
error.I have been test

[2019-10-17 01:57] TingYinHelen commented on #95
error, I have been test

[2019-10-24 22:59] eriktrom commented on #95
They are different.

Regardless, ops/sec for a development port finding library used primarily by CI servers, webpack and similar local CI/development tools don't need ops/sec improvements.

They do however need to ensure that a port and host are available for use interfaces that are not privileged or reserved.

If you want to port scan production servers, there is a python library out there that

[2019-10-24 23:01] eriktrom commented on #94
fixed by #96

[2019-10-24 23:01] #94 closed

[2019-10-24 23:03] eriktrom commented on #93
resolved by https://github.com/http-party/node-http-proxy/issues/1383

[2019-10-24 23:03] #93 closed

[2019-10-24 23:41] eriktrom opened #97 "Add Changelog and Release Tool"
Add changelog and release tool (it should give credit to author, provide link to the pr merged, with description (ideally pr title, which means the only thing we need to manually ensure is that PR titles are accurate descriptions prior to merge)

- Note that if you choose a tool, please see https://github.com/http-party/node-http-proxy/issues/1383 -- if the tool works across all http-party org rep

[2019-10-24 23:52] eriktrom opened #98 "Create code of conduct"
We don't have a code of conduct, free speech welcome, but derogatory comments towards individuals (not ideas) will not be tolerated.

- [ ] Make a code of conduct file, follow community norms (ideally, I like the way rust has handled this, see their's. Copy it or similar).

[2019-10-24 23:59] eriktrom opened #99 "Before filing a socket not closed issue: understanding async I/O + ordering + OS differences + stability requirements"
write contributor guidelines, including emphasis on development of port finding:

- [ ] stability over speed,
- [ ] stability over features that don't serve the larger portion of the consumer base (aka, wrap this lib if you want to extend it, provide examples and how to's for those in need).
- [ ] edge cases (per OS, mentioned many times in discussion, but mainly 1) macOS touch bar takes ports 40,

[2019-11-26 05:49] eriktrom commented on #95
closing to prevent stale issues. feel free to re-open if interest in further discussion remains

[2019-11-26 05:49] #95 closed

[2019-11-26 05:49] eriktrom commented on #73
stale, closing. feel free to re-open to resume conversation.

[2019-11-26 05:49] #73 closed

[2020-04-07 03:31] lovetingyuan opened #100 "【feature request】support to use array as basePort"
`portfinder.basePort = [4200, 8080]`

if 4200 is available, just use 4200, else if 8080 is available, just use 8080, or search other port(like 8081, 8082...)

[2020-04-25 07:37] gaggle opened #102 "Should portfinder also have a getPortsPromise function?"
I use `getPortPromise` but was surprised there's no `getPortsPromise` (plural, to get multiple ports). Do you want one added?

[2020-05-19 06:09] sla89 opened #104 "Free port still in use"
Hello together,

I am facing the problem that portfinder is blocking a free port because the callback is called directly after calling `server.close()`.

The problem is that  `server.close()` is an asynchronous operation and as long as the  `close` event is not emitted the port is still used by the server (Node API docs: https://nodejs.org/docs/latest/api/net.html#net_server_close_callback):

[cod

[2020-05-22 17:07] rathboma commented on #104
I am also having this issue as I am immediately starting a server to provide SSH tunnel access, and every now and then it fails due to the port not being available.

[2020-06-10 00:08] eriktrom commented on #104
When using async i/o, which was introduced along with OS scheduling (by different names, depending on the OS) -- one of the downsides is that it is up to the operating system to handle such things. The os will ask the kernel for permission to both open and close a file descriptor, and upon giving permission to open a file descriptor, the os will schedule to do so with a priority. The same goes for

[2020-06-10 01:16] eriktrom commented on #102
sounds good in practice, but the complications in the code within this library require a new version before this (legit) ask be worked on - else were at the mercy of the indeterminism inherent  current os scheduling and resource allocation/deallocation through the kernel

[2020-06-10 01:23] eriktrom commented on #100
what if they're both taken?

its a legit ask, but refactoring is needed, and thus a new version of this lib would be required as a major bump

although what if they are both taken, and the next 200 ports after each are taken too... (sure feels edge case, but its an algo we'd have to ensure doesn't stray just b/c the base case seems easy)

[2020-06-11 16:59] eriktrom commented on #102
@gaggle See my comment on pr #105 which contains a proposal that if gains traction, would allow experimentation of this idea as well as other ideas requested by others.

[2020-06-11 17:00] eriktrom commented on #100
@lovetingyuan - feel free to check my comment on pr #105 which would allow iteration of such an idea. If it gains traction, I will take the idea into further consideration.

Thanks for your feedback.

[2020-06-23 18:23] murilobd opened #106 "All ports lower than 1024 are closed"
I'm trying to inspect if port 123 (NTP Server) is available but I only get as response 1024 (that's the next available port) or if I use stopPort (and startPort) I receive an error: 'No open ports found in between XX and YY'.

I have tested some ports lower than 1024 and all of them either returns 1024 or an error. Any idea why or a possible solution?

<img width="1137" alt="image" src="https://us

[2020-06-25 04:50] eriktrom commented on #106
To open a port in the protected range of ports (<= 1024) you need to need the right permissions. That may vary per system. I would try to use a host that will bind to a non loopback interface, for example: `{ host: 0.0.0.0, port: 80 }`.  This may require updating your firewall, to allow traffic through that interface (e.g, en0).  On mac, u can check that nodjs is listed in system preferences -> se

[2020-07-20 16:26] LostInBrittany opened #108 "Version mismatch on `mkdirp` between `package.json` and `package-lock.json`"
Hi!

I see that in PR #101 you bumped-up the version of `mkdirp` to 0.5.5 which in turn updates `minimist` to 1.2.5
which addresses https://www.npmjs.com/advisories/1179

Problem is that this PR only updated `package-lock.json` and not `package.json` that remains at `0.5.1`. As `package.json` still depends on `mkdirp` 0.5.1, when we get `node-portfinder` as a dependency, we still get an old versio

[2020-07-29 04:57] eriktrom commented on #108
whoa, thankyou @LostInBrittany - sorry for the delay here, shipping update immediately

[2020-07-29 05:36] eriktrom opened #110 "Update ci to test new versions of npm"
Update ci to test new versions of npm (to verify/prevent?.peer dep, patch level drifting?) found in (some) consumers

Found via #101

- [ ] Update travis to run using npm 5.x and 6.x (thus update node)
- [ ] See if we can prevent issues like the following #101 from happening, or somehow verify that both the lockfile and package.json are both updated
     - conversation thread within #101 reveals t

[2020-07-29 05:39] #108 closed

[2020-07-29 05:42] eriktrom commented on #106
closing to cleanup issue list, comments or questions still welcome, if needed

[2020-07-29 05:42] #106 closed

[2020-07-29 05:42] eriktrom commented on #104
closing to cleanup issue list, comments or questions still welcome, if needed

[2020-07-29 05:42] #104 closed

[2020-07-29 05:42] eriktrom commented on #102
closing to cleanup issue list, comments or questions still welcome, if needed

[2020-07-29 05:42] #102 closed

[2020-07-29 05:43] eriktrom commented on #100
closing to cleanup issue list, comments or questions still welcome, if needed

[2020-07-29 05:43] #100 closed

[2020-07-29 05:45] eriktrom commented on #92
superseded by https://github.com/http-party/node-portfinder/pull/105#issuecomment-642807837

[2020-07-29 05:45] #92 closed

[2020-07-29 05:55] eriktrom commented on #99
Consolidate with:

- [ ] all cross refs found at #105 that are
- [ ] move ad hoc summary and proposal found randomly in comment @ #105: https://github.com/http-party/node-portfinder/pull/105#issuecomment-642807837

[2020-09-11 15:06] amardeokar23 opened #111 "If callback is passed to getPort() then all errors should be returned as first parameter of callback"
Errors generated due to providing startPort < 0 OR basePort > highestPort need to be returned in the callback if callback is provided. Otherwise errors will not be caught unless user call getPort() inside try-catch.

https://github.com/http-party/node-portfinder/blob/8895293a96a41a454b6648b50ecc7bff7f13fc22/lib/portfinder.js#L118

[2020-10-12 19:39] Hypnosphi opened #112 "migrate to mkdirp v1"
npm says that mkdirp v0.x has been deprecated:

[code]

[2020-11-11 01:38] PeterWone opened #113 "Webpack doesn't like portfinder"
Webpack makes my head hurt. I have many imports, portfinder alone upsets it. As you can see from the following, webpack seems to have decided to build portfinder from source.

[code]

There are other issues. Consuming `portfinder.d.ts` like this

[code]

results in Typescript complaining that basePort is readonly. There's a simple oh-shut-up like this
[code]
but, well, blech. I know this is a sepa

[2020-11-11 03:25] eriktrom commented on #113
What version of webpack, v4 or v5?

Regardless, webpack should NOT compile portfinder as portfinder is a node only module, it does not have an entrypoint for the browser, it should not be chunked/transpiled/etc - if using typescript, use ts-node instead for this in CLI/binary applications.

I will answer these q's as one: (if ur confused, please comment, i'm summarizing heavily here)

B/c this is

[2020-11-11 03:27] eriktrom commented on #113
closing, b/c I hope my explanation suffices - there is no fix to be had - open a pr if u change typescript interface file

[2020-11-11 03:27] #113 closed

[2020-11-11 03:34] PeterWone commented on #113
...because it's a moving target solving a problem that is properly the domain of the browser (reducing the overhead of lots of small files)

TS import has decided that portFinder is a const because it's declared at the root of your namespace. The only way to fix this is to express it as a property of a class, and export that.  The members of `internals` become private members of the class, and all

[2020-11-11 03:37] eriktrom commented on #113
import * as portfinder from portfinder not working your saying ...

import module from 'module'
const portfinder = module.require('porfinder');

does that work?

[2020-11-11 03:38] eriktrom commented on #113
(u may need to read the node docs to complete that thought, fyi, i have had success with that idea though in ts.

[2020-11-11 03:38] PeterWone commented on #113
No, that's how I was doing it _before_ I tried to add webpack.

Webpack had a hissy fit until I used `import * as portfinder from "portfinder";`

[2020-11-11 03:39] eriktrom commented on #113
ROFL

[2020-11-11 03:40] eriktrom commented on #113
drop a note when if u have success OR in a couple days with still no success - i think more deeply in meantime

[2020-11-11 03:40] PeterWone commented on #113
I want a friggin teeshirt that says `webpack is not explainable, even with infinite time`

[2020-11-11 03:41] eriktrom commented on #113
I wear a large, save me one :)

[2020-11-11 03:52] PeterWone commented on #113
Much as I like your library I really need to hack something together in TS so I can ship. To that end I need to hack out just the bits I need and implement as a TS class. I would be grateful for some sanity checks and guidance -- you know what you meant by your code, I'm only guessing.

If I've understood your code, the gist of it is

* listen(port) barfs or connects fast
* you bind handlers `.on(

[2020-11-11 04:56] eriktrom commented on #113
Your summary looks about correct. Here are some additional notes, and hopefully answers to ur q's.

Portfinder is hands off about this.

It is not replaced for the next try in this module. Write some code that loops and tries again for u, on perhaps the next port. Currently, I know of many packages that use portfinder, they are all cli apps - ember-cli, webpack-cli, ng-cli, circle ci(not sure how,

[2020-11-11 05:22] eriktrom commented on #113
ps - i have not read the codebase for a couple years - i just did - one things sticks out - nextPort is only used by getPorts - which is not used very often but does have good test coverage.

it conflates the onError callback though, b/c what I said about closing the socket is true, although with getPorts, its true, but we then *do iterate to the next port* depending on how many ports in a row u w

[2020-11-11 09:15] PeterWone commented on #113
Thanks, Erik. I should be able to bang something up to handle my narrow use case.

[2021-05-17 09:56] jimmywarting commented on #112
how about dropping it and use nodes built in mkdir instead?

[2021-05-25 21:13] mfranzke commented on #112
Or use https://www.npmjs.com/package/make-dir instead.

[2021-06-18 09:16] BillyCottrell opened #118 "Cluster apps are all on same port instead of different ports"
Hi there,

First time I am using this library, but I am trying to run 3 instances of the same application, but on different ports.
The problem is that all instances are executed simultaneously, meaning that they all take up the same port.
I am using this library to let my express servers listen to different ports, so my gateway can load balance them.

Is there any way to solve this?

Thanks in adv

[2021-07-16 02:55] Hishengs opened #119 "no highestPort ts definition in latest version"
hi, in the latest version: 1.0.28, there still no ts definition for **highestPort**

![image](https://user-images.githubusercontent.com/8407978/125884649-1ba85b97-dd29-4210-b40c-68613870313b.png)

![image](https://user-images.githubusercontent.com/8407978/125884662-a05855de-1d64-4cbe-adbe-2b5b4e6ba669.png)

[2021-07-29 18:31] netstalkerr commented on #73
agree! where information that only TCP is supported??

[2021-07-29 19:45] eriktrom commented on #119
add it and i'll merge.

in fact, if you do add it, consider adding something to the readme that says "contributions for ts defintions are actively merged, but due to the legacy requirements of this code base and the number of packages that depend on it,  enhancements in the form of typings are the only thing that are likely to get merged, unless there is a new operating system error we need to han

[2021-07-29 19:45] aminya opened #121 "Update Readme to Specify NOT to use outside development port finding"
See https://github.com/http-party/node-portfinder/pull/117#issuecomment-889402421

[2021-07-29 19:59] eriktrom commented on #118
yeah so how do i explain this in 3 words or less - wait for the kernel to release the lock on the file descriptor before starting the next server and it'll work (i don't recall but on intel 2015 macbook when I wrote the tests, it varied between something like 1-3 seconds.

otherwise, the port is not released until the OS gets around to it as there is no "happens before" guarantee lock I can add wi

[2021-07-29 19:59] #118 closed

[2021-07-29 20:03] eriktrom commented on #121
#118 - while much harder to document is another thing that I get asked alot about.

[2021-07-29 20:08] eriktrom commented on #112
we have to support node 0.10.x - that said - neither of the above (built in mkdir or promises) can be merged in...

is there a security issue here or just 'lets keep node modern' which is totally legit, just not with this lib unfortunately

open to discussion if there is a reason outside of staying modern...

[2021-07-29 20:11] eriktrom commented on #111
i never answered this sorry

so u are right -- problem is long ago i did a bunch of error catching and bubbling to the user stuff, then when windows WSL was released there was a flood of syscall errors (macos touchbar did the same) and at that point i removed errors to help the user b/c the syscall errors were so os dependent that I couldn't say for sure I wasn't making things harder to debug than

[2021-07-29 20:11] #111 closed

[2021-07-29 20:15] eriktrom commented on #110
a rabbit went down this hole once, i have not seen him since. anyone want to give this a shot?

[2021-07-30 00:40] Hypnosphi commented on #112
it's rather 'lets not depend on deprecated things'

[2021-07-30 01:41] eriktrom opened #122 "Consider Dropping Legacy Support for Node JS 0.10.x"
cc @indexzero -

opening a discussion - our users are our lifeline and they're asking for es6 - which is of course a legit ask - but then something dawned on me, if we don't remain relevant to them, we can't help them go through the ARM transition and from personal experience there it's already affecting people using even python for their math class and OSS contributors to system level languages t

[2021-07-30 07:08] jimmywarting commented on #112
... and use less dependencies and marketing it smaller

[2021-07-30 18:55] eriktrom commented on #112
I actually feel the same way and have opened an issue (that I need to clean up b/c it was a brain dump) #122

perhaps it should just say:

at least that's what I am trying to say, in a very round about way :)

[2021-08-12 06:59] BillyCottrell commented on #118
Hi @eriktrom,

My apologies for not answering sooner but I was on holiday, anyways I understand what you are saying and I can feel the pain just from reading it.

Except, the reason for my question is slightly different. I am using pm2 to (re)start/stop/update my API's so I can easily manage them. Now when you use pm2 to startup your API's it gives a certain port, but that is when your using pm2 i

[2021-12-09 15:15] J-P-S-O commented on #98
@eriktrom Is the standard "Contributor Covenant" good enough?

[2022-04-04 14:14] nemeseri opened #125 "Please update mkdirp from 0.5.5 to 0.5.6"
Mkdirp 0.5.5 uses minimist as a dependency and 1.2.5 has a vulnerability:
Minimist <=1.2.5 is vulnerable to Prototype Pollution via file index.js, function setKey() (lines 69-95).

[2022-04-07 22:45] chergott opened #126 "Update "async" dependency"
portfinder is currently using async@^2.6.2 which has a known Prototype Pollution vulnerability

async@^3.2.2 addresses this vulnerability

Additional information:
NVD: https://nvd.nist.gov/vuln/detail/CVE-2021-43138
Snyk: https://security.snyk.io/vuln/SNYK-JS-ASYNC-2441827

[2022-04-09 06:09] fhljys commented on #126
Any update?

[2022-04-11 09:36] SymbioticKilla commented on #126
@eriktrom Any chance to get this fixed? Thanks!

[2022-04-11 15:52] alexander-akait commented on #126
@eriktrom Friendly ping, can you look at this, thanks?

[2022-04-13 08:27] ucsbricks commented on #126
@eriktrom I would really appreciate if you could fix this. Thanks.

[2022-04-13 08:33] kiskoza commented on #126
There's a PR to backport the fix to the 2.x branch on the `async` repo: https://github.com/caolan/async/pull/1828

[2022-04-13 16:35] arderyp commented on #126
FYI, the project is dead and the creator doesn't advise using the package in production: https://github.com/http-party/node-portfinder/pull/117

Best bet is to drop the dependency altogether.

[2022-04-15 08:05] Glandos commented on #112
mkdirp has a new 0.5.6 version with updated minimist dependency. It should fix the issue for now.

[2022-04-26 20:59] pstephensSQ commented on #126
Team, any status on this fix?

[2022-04-27 05:33] fhljys commented on #126
I think Kiskoza's comment already addressed this. You just need to update the patch version.

[2022-04-29 14:50] ChocolateLoverRaj commented on #125
I think mkdirp should be updated to v1

[2022-05-04 09:13] mat007 commented on #126
Dependabot opened https://github.com/http-party/node-portfinder/issues/126

[2022-07-17 18:17] stefanocudini opened #131 "why mkdirp dependecy?"
I would like to include this library in various applications, but this dependency seems to me to make little sense

[2022-07-29 12:54] MasterOdin commented on #122
Two of the tools listed on the above list (webpack-dev-server, serverless-offline) have removed portfinder as dependencies since this post was made.

Drop support for old versions of node (0.10 support ended almost 5 years before the OP was made in Oct 2016), make a new major release, and incorporate more modern JS practices. Hell, 4 of the 5 dependencies of portfinder can never be upgraded to the

[2022-08-02 04:11] eriktrom commented on #131
We could replace https://github.com/http-party/node-portfinder/blame/38cf0185a18c1ecb2c2590ae91f0a251b612ab15/lib/portfinder.js#L328 with the node builtin filesystem module.

That code is for creating sockets.

You'll recognize more pieces of that code here: https://github.com/http-party/node-portfinder/blame/38cf0185a18c1ecb2c2590ae91f0a251b612ab15/lib/portfinder.js#L384

Feel free to peruse the

[2022-08-02 04:20] eriktrom commented on #122
@MasterOdin - you are correct - I completely agree. I don't own the project, but I figure a year (to the date) seems sufficient to move ahead with autonomy. :)

Updating, will release tomorrow most likely sometime.

Thanks @MasterOdin for your feedback and comment above, from 4 days prior to 365 days of no response :)

[2022-08-02 04:23] eriktrom commented on #131
Releasing a new version that will have no mkdirp installed, will use node directly, this week.

FYI

[2022-08-02 04:24] eriktrom commented on #112
@see https://github.com/http-party/node-portfinder/issues/131

also minimist has been updated tonight, it will go out in the next release this week.

[2022-08-02 04:24] #112 closed

[2022-08-02 04:25] eriktrom commented on #125
closing see #131

[2022-08-02 04:25] #125 closed

[2022-08-02 04:33] MasterOdin commented on #131
Are you looking to replace `mkdirp` with `fs.mkdir` and make use of the `recursive` flag added in v10 LTS, or doing the recursion by hand in `fs.mkdir`?

[2022-08-02 04:33] eriktrom commented on #126
async updated in https://github.com/http-party/node-portfinder/commit/ccdb3b77406082b0fbcdeb0869f2760bb7465c6b and https://github.com/http-party/node-portfinder/commit/10d97710a3b31675d9df4c9618dafcd94d2ec73a

[2022-08-02 04:33] #126 closed

[2022-08-02 04:36] eriktrom commented on #119
closing - will reopen if code submitted

[2022-08-02 04:36] #119 closed

[2022-08-02 04:37] MasterOdin commented on #122
Hah, what lucky timing, as I really only made the post as I stumbled onto it 4 days ago when I was upgrading the version of `portfinder` in my employer's codebase and went looking to see what had changed between the two versions.

Having cut my teeth on IE compatibility, I have a burning passion for advocating to drop support for very old platforms if it stands in the way of making things better,

[2022-08-02 06:46] jimmywarting commented on #131
I'm hoping for a breaking change... v14 is the LTS right now...

[2022-08-02 08:46] eriktrom commented on #131
mkdirp recursively created directories, so just to clarify @MasterOdin in your comment:

we do want to recursively create a folder structure - at least that is how the original code was written, and hence its use of mkdirp, which 11 years ago, was how mkdir -p was popularly done in nodejs.

Let me know if I missed something here, thanks.

see #134 for its removal and use of native node api's for m

[2022-08-02 13:36] MasterOdin commented on #131
I created #135 (as there was no test with the recursive folder creation) to help demonstrate my point where if you wish to support node < 10.12, then you'll need to either use `mkdirp` or do the recursion yourself as `fs.mkdir` does not support doing it in those old versions of node, but if you drop the old versions (which I'd argue you should), then `fs.mkdir` works fine as a replacement.

[2022-08-03 04:02] MasterOdin commented on #110
This task is at least done. My suggestion for tackling how #101 turned out would be to see if it'd be possible to configure dependabot.yml to get what you want, where you would [enable the security updates](https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates), but then configure the yml to something like:

[code]

where it should

[2022-08-03 06:24] eriktrom commented on #131
closing in favor of use of native builtins from the nodejs' `fs` module: #134 #135 (collectively, #134 includes all changes for modernization, iteration 1, fwiw)

[2022-08-03 06:24] #131 closed

[2022-08-03 06:31] eriktrom commented on #131
@stefanocudini - to use this library, ideally wrap it in a cli, or you can also from your shell:

[code]

[2022-08-06 05:37] eriktrom commented on #122
closed by #137

[2022-08-06 05:37] #122 closed

[2022-08-06 05:38] #121 closed

[2022-08-06 05:39] eriktrom commented on #110
@MasterOdin - thanks for that info - i'll look at this next weekend - appreciate the input here

[2022-08-06 05:40] eriktrom commented on #99
too much scope, closing for now

[2022-08-06 05:40] #99 closed

[2022-08-06 08:03] eriktrom commented on #131
see #137 for current status, fyi

[2022-08-06 10:15] AxelTerizaki opened #138 "version 1.0.29 doesn't compile with typescript"
Probably a syntax error somewhere that throws off the parser. Here's the error :

[code]

[2022-08-06 12:39] lelikg commented on #138
+1 having the same issue
`node_modules/portfinder/lib/portfinder.d.ts(39,1): error TS1128: Declaration or statement expected.
node_modules/portfinder/lib/portfinder.d.ts(39,24): error TS1005: ',' expected.
node_modules/portfinder/lib/portfinder.d.ts(49,1): error TS1128: Declaration or statement expected.
node_modules/portfinder/lib/portfinder.d.ts(49,27): error TS1005: ',' expected.
npm ERR! code

[2022-08-07 00:09] jonluca commented on #138
Fixed in https://github.com/http-party/node-portfinder/pull/139

[2022-08-13 15:00] eriktrom commented on #138
Taking a look, thanks, sorry was out last week

[2022-08-13 15:20] eriktrom commented on #138
fixed by #141

----

release scheduled for this morning

[2022-08-13 15:20] #138 closed

[2022-08-13 15:30] MasterOdin commented on #122
I'm not sure this issue was resolved by #137, given that the library's minimal support is still node 0.12. I mean, I guess technically support for node 0.10 was dropped a while back, but I'd consider this issue covering dropping all EOL old versions.

It's not clear to me if you'd support having a v2 of this package that drops all node versions under some version (12?), and then could proceed to c

[2022-08-13 15:39] MasterOdin commented on #122
Dropping old versions of node would also allow some niceties like combining `getPort` into a single function with dual signature:

[code]

which is similar to how most other libraries I've used support a function that has both a callback and a promise based interface as wouldn't need to worry about promises not being available.

[2022-08-13 16:26] #110 closed